<div class="row">
	<div class="pnotes-form-centering">
		<div class="row">
			<h2>pNotes</h2>	
		</div>
		<div class="row">
			<form method="post" action="/">
			  <div class="form-group">
			    <label for="email">Email address:</label>
			    <input type="email" class="form-control" id="email">
			  </div>
			  <div class="form-group">
			    <label for="pwd">Password:</label>
			    <input type="password" class="form-control" id="pwd">
			  </div>
			  <button type="submit" class="btn btn-primary">Get In</button>
			</form>
		</div>
		<div class="row">
			<small id="shorten-input-err" class="text-danger"></small>
		</div>
	</div>
</div>

